.tag {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 12px;
}

.status-w {
  background: hsl(116, 60%, 90%);
  color: hsl(116, 30%, 25%);
}

.status-l {
  background: hsl(350, 70%, 90%);
  color: hsl(350, 45%, 30%);
}

.main-header .logo {
  font-weight: bold;
  font-size: 24px;
}
.center {
  text-align: center;
}


@media screen and (max-device-width: 767px) and (orientation: portrait) {
  .britt { 
  display:  none;
 },

body { 
  font-size: 0.75rem;
 }

}

tr {
  width: 25px;
}

@media (min-width: 576px) {  
.d-sm-none {
  display: none!important;
}


}

.dataTables_info {
  font-size: 16px;
  background-color: #faf785;
  font-weight: bolder;
}
hr {
  border-top: 1px solid #13294B;
}
.bottom li {
  list-style: none;
}
.yeahyeah {
  padding: 12px 5px 12px 15px;
  display: block;
}
.leaky {
  position: relative;
  margin: 0;
  padding: 0;
}
.twoten {
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 12px;
  text-align: center;
}
.dropdown {
  font-size: 24px;
}
.info-box-text {
  font-weight: bolder;
}
.alert-info, .bg-aqua, .callout.callout-info, .label-info, .modal-info .modal-body {
  background-color: #4B9CD3 !important;
}
.skin-blue .main-header .navbar {
  background-color: #4B9CD3;
}
.skin-blue .main-sidebar {
  background-color: #13294B;
}
.skin-blue .main-header .logo {
  background-color: #4B9CD3;
}
.skin-blue .main-header .logo:hover {
  background-color: #4B9CD3;
}
.skin-blue .sidebar-menu>li.active>a {
  border-left: 3px solid #4B9CD3;
  background-color: #000;
}
.skin-blue .sidebar-menu>li:hover>a {
  background-color: #4B9CD3;
}

